/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
    width: 80%;
    margin: 0 auto;
    min-width: 1in;
    max-width: 8in;
}
.chessboard {

}
.chessboard .row {
    margin: 0;
    padding: 0;
    position: relative;
    clear: both;
}
.chessboard .row::before,
.chessboard .row::after {
    font-size: 200%;
    position: absolute;
}
.chessboard .row::before {
    right: 100%;
}
.chessboard .row::after {
    left: 100%;
}

/*Black chess pieces begin*/
.chessboard .rank-7 .square::before {
  content:'\265f';
  font-size: 40pt;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-8 .file-a::before {
  content:'\265c';
  font-size: 40pt;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-8 .file-h::before {
  content:'\265c';
  font-size: 40pt;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-8 .file-b::before {
  content:'\265e';
  font-size: 40pt;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-8 .file-g::before {
  content:'\265e';
  font-size: 40pt;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-8 .file-c::before {
  content:'\265d';
  font-size: 40pt;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-8 .file-f::before {
  content:'\265d';
  font-size: 40pt;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-8 .file-d::before {
  content: '\265b';
  font-size: 40pt;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-8 .file-e::before {
  content: '\265a';
  font-size: 40pt;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
/*Black chess pieces End ^^^*/

/*white chess pieces begin*/
.chessboard .rank-2 .square::before {
  content:'\265f';
  font-size: 40pt;
  color: white;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-1 .file-a::before {
  content:'\265c';
  font-size: 40pt;
  color: white;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-1 .file-h::before {
  content:'\265c';
  font-size: 40pt;
  color: white;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-1 .file-b::before {
  content:'\265e';
  font-size: 40pt;
  color: white;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-1 .file-g::before {
  content:'\265e';
  font-size: 40pt;
  color: white;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-1 .file-c::before {
  content:'\265d';
  font-size: 40pt;
  color: white;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-1 .file-f::before {
  content:'\265d';
  font-size: 40pt;
  color: white;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-1 .file-d::before {
  content: '\265b';
  font-size: 40pt;
  color: white;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
.chessboard .rank-1 .file-e::before {
  content: '\265a';
  font-size: 40pt;
  color: white;
  position: absolute;
  padding-left: .75ex;
  z-index: 2;
}
/*white chess pieces end ^^*/

.chessboard .rank-8::before,
.chessboard .rank-8::after{
   content:'8';
}.chessboard .rank-7::before,
.chessboard .rank-7::after{
   content:'7';
}.chessboard .rank-6::before,
.chessboard .rank-6::after{
   content:'6';
}.chessboard .rank-5::before,
.chessboard .rank-5::after{
   content:'5';
}.chessboard .rank-4::before,
.chessboard .rank-4::after{
   content:'4';
}.chessboard .rank-3::before,
.chessboard .rank-3::after{
   content:'3';
}
.chessboard .rank-2::before,
.chessboard .rank-2::after {
    content: '2';
}
.chessboard .rank-1::before,
.chessboard .rank-1::after{
   content:'1';
}

.chessboard .square {
    background-color: gold;
    width: 12.5%;
    padding-bottom: 12.5%;
    outline: 1px solid black;
    float: left;
    list-style: none;
}
.chessboard .row:nth-child(even) .square:nth-child(even) {
    background-color: gold;
}
.chessboard .row:nth-child(even) .square:nth-child(odd) {
    background-color: darkgreen;
}
.chessboard .square:nth-child(even) {
    background-color: darkgreen;
}

.files li {
  list-style: none;
  font-size: 200%;
  position: relative;
  float: left;
  ;
}


/*buttons --need work*/
.buttons li {
  list-style: none;
  font-size: 20pt;
  position: relative;
  float: left;
  padding: 0 1em 1em 1em;
  padding-top: 1.5em;
  color: darkred;
  text-align: center;

  width: 10%;
}

.buttons a:hover {
  cursor: pointer;
}
.buttons .play-pause::before{
  content:'\25b8';
}

.buttons .play-pause::after {
  content: '\2016';
}
/*.chessboard.square::after {
     content: '\24';*/


/*}*/


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
